<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Projet waouw
        script(src=process.env.BROWSER_REFRESH_URL)   
        style
            include ../public/css/style.css
    body
        h1 Mon super site e-commerce, woaw, quel exploit
        p c'est bo
            if session.user
                p Bienvenu #{session.user.nom} #{session.user.prenom}

        if messages.info
            p #{messages.info}

        nav
            a(href="/") ACCUEIL
            br
            if !session.user
                a(href="/inscription") INSCRPITION
                br
                a(href="/connexion") CONNEXION
            if session.user
                br
                a(href="/deconnexion") DECONNEXION
