<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Inscription waouw
        script(src=process.env.BROWSER_REFRESH_URL)   
        style
            include ../public/css/style.css
    body
        h1 Inscription

        form(action="/inscription", method="post")
            p        
                |   civilite:
                select(name="civilite")
                    option(value="madame") Madame
                    option(value="monsieur") Monsieur
            p
                |   nom:
                input(type='text', name='nom')
            p
                |   prenom:
                input(type='text', name='prenom')
            p
                |   email:
                input(type='email', name='email')
            p
                |   password:
                input(type='password', name='password')

            input(type='submit')
